@CHARSET "ISO-8859-1";

.gallery {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery li {
	padding: 10px;
	margin: 0;
	float: left;
	position: relative;
	width: 64px;
	height: 80px;
	overflow: hidden;
	text-align: center;
}

.gallery li.template {
	display: none;
}

.gallery img {
	background: white;
	border: solid 1px #fff;
	max-height: 100%;
	max-width: 100%;
	cursor: pointer;
}

.gallery img:hover {
	outline: 2px dotted #8888ff;
}

.gallery img.selected {
	outline: 2px dashed blue;
}