html, body, #chargement, #chargement span, #filtre_numeros {
	height:100%;
	padding:0;
	margin:0;
	font-size:11px;
	line-height:25px;
}

html, body, span, td, th {
	font-family: Charcoal,arial,sans-serif;
}

span, td, th {
	font-size:14px;
}
#corps h2 {
	margin-bottom: 0;
}

#entete_page {
	height:60px;
	width:100%;
	border-bottom:1px solid gray;
	position: fixed;
	z-index: 101;
	background-color: white;
	padding-right:10px;
}

option.tranche_prete {
	background-color:#98EBB2;
}

option.cree_par_moi {
	background-color:#5EDF88;
}

option.en_cours {
	background-color: orange;
}

#viewer h2 {
	margin-top:-10px;
}

a {
	color:blue;
	cursor:pointer;
	text-decoration:none;
}

.cache {
	display:none !important;
}

.hidden {
	visibility: hidden !important;
}

#infos {
	position:fixed;
	right:0;
	top:0;
	background-color:white;
	z-index:500;
	width:175px;
	overflow-y: auto;
	height: 100%;
	border-left: 1px solid black;	
}

#helpers {
	overflow-x: auto;
}

#upload_fichier {
	position:fixed;
	right:5px;
	bottom:0;
	background-color:white;
	z-index: 1001;
	overflow-y: auto;
}

#toggle_helpers{
	position:fixed;
	right:0;
	top: 34px;
	border: 1px dashed black;
	z-index:1000;
	background-color:white;
}

#chargement {
	position:fixed;
	top:0px;
	right:0px;
	margin-top:20px;
	z-index:1000;
	background-color:white;
	height: 100px;
}

#erreurs {
	position:fixed;
	right:0;
	bottom:0;
	background-color: white;
	color:red;
}

#viewer {
	position:fixed;
	left:0px;
	width:200px;
	background-color: white;
	z-index: 500;
}

#viewer_inner {
	height:100%;
	overflow-x:auto;
	overflow-y:auto;
	width:100%;
	background-color: #FEEEBD;
}

.tabnav {
	margin-top: 10px;
}

#corps {
	position:absolute;
	left:225px;
	padding-left:10px;
	padding-right: 400px;
}

#viewer, #corps, #infos {
	top:61px;
	bottom:0px;
}

table.bordered {
	border-color: black;
	border-collapse: collapse;
	border-spacing: 0px;
	overflow-x:auto;
}

.intitule_numero {
	white-space:nowrap;
}

td.preview {
	cursor:pointer;
	vertical-align:middle;
	background:url('../images/view.png') no-repeat center right;
	padding-right: 20px;
}

.save {
	white-space: nowrap;
}
 
.valeur_reelle {
	display:none;
}

#modifier_valeur {
	margin-top:5px;
	border-top : 1px solid black;
}

.cloner {
	min-width: 24px;
	background:url('../images/clone.png') no-repeat center center;
	cursor:pointer;
}

.non_concerne {
	background-color:gray;
}

.erreurs {
	color:red;
}

.erreur_valeurs_multiples {
	border:1px solid red;
}
	
.num_checked {
		background:url('../images/checkedbox.png') no-repeat center center;
}
.centre {
	text-align:center;
}

.etape_active {
	color:blue;
}

.num_etape_preview, .numero_preview {
	height: 40px;
	vertical-align: top;
}

.lien_etape,.num_etape_preview {
	text-align:center;
}

.lien_etape>span, .lien_etape>.logo_option, .lien_option>span, .num_etape_preview, .ajouter_etape, .supprimer_etape {
	cursor:pointer;
}

.numero_etape {
	white-space:nowrap;
}

.option_etape {
	cursor:default;
}

.option_etape .desc{
	display:inline; 
	padding:2px 3px; 
	margin-top: -3em; 
	width:300px;
	position:absolute; 
	border:1px solid #cccccc; 
	background:#ffffff; 
	color:#C88964;
	z-index:500;
}

.previews td {
	border-spacing: 0;
	padding: 0;
	border-collapse: collapse;
}

.ligne_previews .image_etape,.fond_noir_active,.fond_noir_inactive {
	text-align:center;
}

.ligne_previews td {
	vertical-align: top;
}

.cellule_nom_fonction {
	text-align:center;
}

.pointer {
	cursor:pointer;
}

tr.tranche_prete {
	background-color: #CBF5D9;
}

tr.cree_par_moi {
	background-color:#98EBB2;
}

tr.en_cours {
	background-color: orange;
}

tr.tranche_en_validation {
	background-color: #5983FF;!important
}

#table_numeros tr:not(.ligne_entete)>td:not(.intitule_numero):not(.cloner) {
	white-space: nowrap;
	min-width:25px;
	max-width: 200px;
	overflow-x: auto;
	cursor:default;
}

td.selected {
	border-style:dotted;
}

td.reload {
	background:url('../images/reload.png') no-repeat center center;
	cursor:pointer;
	width:16px;
	height:16px;
}

.ajouter_etape {
	margin-right:-10px;
	float:right;
}

.supprimer_etape {
	margin-top: -9px;
	position: absolute;
	margin-left: -3px;
}

.fond_noir_active,.fond_noir_inactive {
	background:url('../images/fond_noir.png') no-repeat top center;
	cursor:pointer;
	vertical-align:top;
	width: 16px;
	height: 16px;
}

.fond_noir_active {
	border-bottom:1px solid blue;
}

.regle {
	position:absolute;
	z-index: 500;
	cursor:e-resize;
	left: 0px;
}

.zone_regle {
	overflow:hidden;
	position:absolute;
}

.repere {
	z-index:600;
}

#montrer_details {
	display:none;
}

.view_preview {
	float:right;
}

.option_previews {
	font-size:11px;
	white-space: nowrap;
}

#zoom {
	float:left;
	margin-left:10px;
	margin-top:10px;
}

#zoom_slider {
	margin-right: 10px;
	width: 150px;
}

.fixed_header {
	position:fixed;
}

.wizard {
	display: none;
}

img.loading {
	opacity : 0.2;
    -moz-opacity : 0.2;
    -ms-filter: "alpha(opacity=20)";
    filter : alpha(opacity=20);
}

.error {
	color: red;
	font-weight: bold;
}