@CHARSET "ISO-8859-1";

iframe {
	border: 0;
}

.template {
    display: none;
}

.invisible {
    display: inherit !important;
    visibility: hidden !important;
}

.toutes_bordures {
    border-radius: 8px;
}

.bordure_gauche {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.bordure_droite {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#action_bar {
	text-align:center;
}

#action_bar img.action {
	height: 20px;
	margin-left: 10px;
	cursor: pointer;
}

#status {
	width: 300px;
	right: 205px;
}

#status .ui-icon {
	float: left;
	margin-right: .3em;
	margin-top: 4px;
}

#status .message-label {
	font-size: 11px;
}

#status_user {
	width: 200px;	
	right: 5px;
	text-align: right;
}

#status, #status_user {
	position: fixed;
	top: 0;
	float: right;
	height: inherit;
	overflow-y: auto;
}

#status_user #utilisateur {
	font-size: 12px;
}

button#connexion, button#deconnexion {
	float: right;
}

#conteneur_selecteur_couleur {
	position: fixed;
	z-index: 1010;
	bottom: 1px;
	left: 150px;
	right: 150px;
	text-align: center;
}

#selecteur_couleur {
	min-height: 300px;
	width: 550px;
	display: inline-block;
	text-align: left;
}

#selecteur_couleur ul {
	margin-top: 20px;
}

#fermer_selecteur_couleur {
	float: right;
}

#picker_container {
	float: left;
}

#couleurs_frequentes {
	float: left;
	height: 100%;
}

.couleur_frequente.template {
	display: none;
}

.couleur_frequente {
	margin: 4px;
	cursor: pointer;
}

.ui-dialog {
	top: 70px !important;
	z-index: 99;
}

.ui-widget-overlay + .ui-dialog {
	z-index: 102;
}

.ui-dialog.main {
	border-width: 2px;
}

.ui-dialog .ui-dialog-content.final {
	white-space: nowrap;
}

.ui-dialog .ui-dialog-content {
	overflow: visible;
}

#wizard-images.photo_principale span:not(.ui-button-text):not(.photo_principale),
#wizard-images.autres_photos span:not(.ui-button-text):not(.autres_photos),
#wizard-images.photos_texte span:not(.ui-button-text):not(.photos_texte) {
	display: none;
}

#wizard-proposition-clonage, #wizard-confirmation-validation-modele {
	overflow-x: auto !important;
}

#wizard-conception .texte_presentation_tranche_finale {
	width: 80%;
	float: right;
	text-align: right;
}

#wizard-1 #tranches_en_cours {
    position: static !important;
    margin-left: 20px;
    display: block;
}

#tranches_en_cours li label, #tranches_non_pretes li label {
	padding-left: 32px;
	background-repeat: no-repeat;
	background-position: 10px;
}

#tranches_en_cours li span, #tranches_non_pretes li span {
	text-align: left;
}

#wizard-1 #tranches_en_cours li label .ui-button-text {
	white-space: nowrap;
}

#wizard-proposition-clonage table td {
	text-align: center;
}

#wizard-proposition-clonage .image_preview:hover {
	outline: 2px dashed orange;
}

#wizard-proposition-clonage .image_preview.selected {
	outline: 2px solid orange;
}
	
	
#wizard-clonage .loading {
	background:url('../images/clone.png') no-repeat left center;
	padding-left: 30px;
}
#wizard-clonage .done {
	background:url('../images/ok.png') no-repeat left center;
	padding-left: 30px;
}

#wizard-ajout-etape input {
	width: 20px;
}

#wizard-ajout-etape .ui-accordion-content {
	height: auto !important;
}

.wizard.preview_etape:not(.final):not(.modif) {
	cursor: pointer;
}

.wizard.preview_etape .image_etape.finale {
	text-align: center;
	display: inline-block;
}

.wizard.preview_etape #photo_tranche img.cross {
	cursor: crosshair;
}

.wizard.preview_etape .point_remplissage {
	height: 12px; 
	width: 12px; 
	position: absolute;
	cursor: move;
}

.wizard.preview_etape .arc_position,
.wizard.preview_etape .polygone_position {
	position: absolute;
}

.wizard.preview_etape .arc_position.ui-draggable {
	cursor: move;
}

.wizard.preview_etape .rotation input[name="option-Rotation"] {
	cursor: move;
}


.wizard.preview_etape .rectangle_position, 
.wizard.preview_etape .image_position,
.wizard.preview_etape .agrafe {
	position: absolute;
	cursor: move;
	background-color:transparent;
	opacity: 1;
	z-index: 1001;
}

.wizard.preview_etape .agrafe {
	background-color: black;
}

.wizard.preview_etape .rectangle_degrade {
	position: absolute;
}

#options-etape--Degrade .rectangle_degrade {
	cursor: move;
}

.wizard.preview_etape .image_position img {
	width: 100%;
	height: 100%;
	outline: 1px dashed black;
}

.wizard.preview_etape .rectangle_position.outlined, .wizard.preview_etape .image_position.outlined {
	outline-width: 1px;
	outline-style: solid;
}

.wizard.preview_etape .apercu_myfonts, .wizard.preview_etape .apercu_image {
	min-height: 30px;
	max-height: 100px;
}

.wizard.preview_etape .apercu_myfonts img {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	max-width: 200px;
	max-height: 100px;
    text-align: left;
}


.wizard.preview_etape .proprietes_texte .apercu_myfonts img {
	border-right: 1px solid black;	
}

.wizard.preview_etape div.extension_largeur {
	position: absolute;
	background-color: black;
	width: 2px;
	margin-top: 1px;
	cursor: e-resize;
}

.wizard.preview_etape a[name~="fixer_rotation"]:hover {
	text-decoration: underline;
}

.wizard.preview_etape input.option-Rotation {
	cursor: move;
}

.wizard.preview_etape .point_polygone {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid black;
}

.wizard.preview_etape .point_polygone.focus {
	border: 1px solid white;
	background-color: black;
}

.wizard.preview_etape .ui-resizable-helper { 
	border: 2px dotted #00F; 
}

.dialog-preview-etape.cloneable:hover {
	outline: 5px dashed blue;
}

.dialog-preview-etape .ui-dialog-titlebar {
	line-height: 15px;
	height: 20px;
}

.dialog-preview-etape .ui-dialog-titlebar img {
	height: 18px;
	float: left;
}

.dialog-preview-etape .ui-dialog-titlebar .ui-dialog-titlebar-close {
	right: -0.4em;
	top: 20%;
}

.dialog-preview-etape .ui-dialog-titlebar img ~ span{
	margin-left: 5px;
}

.dialog-preview-etape.finale {
	width: auto !important;
}

.dialog-preview-etape.finale .ui-dialog-titlebar {
	line-height: 11px;
}

.dialog-preview-etape:not(.finale) .image_preview {
	float: left;
}


#wizard-confirmation-validation-modele-contributeurs .username {
	display: block;
}

#wizard-confirmation-validation-modele-contributeurs span {
	float: left;
	height: 250px;
	overflow-y: auto;
	width: 40%;
}

.preview_vide {
	outline: 1px solid black;
	background-color: white;
	float: left;
	position: absolute;
}

.ajout_etape {
	cursor: pointer;
	position: fixed;
	z-index: 99;
}

div.small.buttonset .ui-button-text, button.small .ui-button-text {
	padding: 0 10px 0 10px !important;
	font-size: 0.9em !important;
}

input.couleur {
	width: 60px;
}

input.couleur.selected {
	outline: 2px dashed red;
}

#wizard-myfonts div.explication .exemple_resultats {
	height: 30px;
	vertical-align: middle;
}

#wizard-myfonts iframe {
	width: 100%;
	min-height: 500px;
	overflow: auto;
}

.tranches_pretes_magazine table {
	border-spacing: 0;
}

.tranches_pretes_magazine table tr td {
	padding: 0;
	vertical-align: bottom;
}

#wizard-decouper-photo .rectangle_selection_tranche {
    position: absolute !important;
    width: 20px;
    height: 200px;
    border: 2px solid black;

    background-color: gray;
    opacity : 0.8;
    -moz-opacity : 0.8;
    -ms-filter: "alpha(opacity=80)";
    filter : alpha(opacity=80);
    cursor: move;
}

#wizard-decouper-photo .rectangle_selection_tranche .zone_intitule_numero {
    white-space: nowrap;
}

#wizard-decouper-photo .rectangle_selection_tranche .edition_numero_tranche {
    cursor: pointer;
    position: absolute;
    min-height: 32px;
    min-width: 32px;
    left: -2px;
    top: 100%;
    border: 2px solid black;
    background-color: white;
}