<br />
S&eacute;lectionnez le fichier image que vous avez enregistr&eacute; puis cliquez sur "Go".
Si vous avez d&eacute;j&agrave; envoy&eacute; cette image sur DucksManager, cliquez sur "Suivant".<br /> 
<iframe style="border:0" src="http://87.106.165.63/EdgeCreator//index.php/helper/index/image_upload.php"></iframe>
...