<br />
<br />
Commencez par isoler votre image dans un fichier image s&eacutepar&eacute;, au format PNG.
<object width="350" height="344">
    <param name="movie" value="http://www.youtube.com/v/F-0oeKCl9g0?hl=fr&fs=1"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="http://www.youtube.com/v/F-0oeKCl9g0?hl=fr&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="350" height="344"></embed>
</object>
...