<a href="javascript:void(0)" onclick="charger_helper('whatthefont_directttf','helper_whatthefont','Texte')">Passer l'assistant &gt; TexteTTF</a><br />
<a href="javascript:void(0)" onclick="charger_helper('whatthefont_directwhatthefont','helper_whatthefont','Texte')">Passer l'assistant &gt; TexteMyFonts</a><br />
<br />
<br />
Cr&eacute;ez une image PNG contenant uniquement le texte que vous voulez ajouter &agrave; la tranche.
<br />
Faites en sorte que le texte soit le plus lisible possible. Changez les couleurs si n&eacute;cessaire : elles n'ont pas d'importance pour le moment.
<br />
Enregistrez ensuite l'image contenant uniquement le texte, horizontal et bien contrast&eacute;, dans un nouveau fichier.
<object width="350" height="349">
	<param name="movie"
		value="http://www.youtube.com/v/SSnGIz0NFCY?fs=1&amp;hl=fr_FR"></param>
	<param name="allowFullScreen" value="true"></param>
	<param name="allowscriptaccess" value="always"></param>
	<embed src="http://www.youtube.com/v/SSnGIz0NFCY?fs=1&amp;hl=fr_FR"
		type="application/x-shockwave-flash" width="350" height="349"
		allowscriptaccess="always" allowfullscreen="true"></embed>
</object>
<br />...