<br />
<br />
Sur la page WhatTheFont, cliquez sur la police la plus proche de votre texte.
La police que vous avez trouv&eacute;e est-elle comprise dans la liste suivante ?
<br />
<iframe src="http://ducksmanager.net/EdgeCreator/index.php/listerg/index/Police/_/liste" style="border:0" width="100%"></iframe>
<br />
<a href="javascript:void(0)" onclick="charger_helper('whatthefont_4_ttf','helper_whatthefont','Texte')">Oui</a><br />
<a href="javascript:void(0)" onclick="charger_helper('whatthefont_4_myfonts','helper_whatthefont','Texte')">Non</a><br />