Entrez dans la zone de texte ci-dessous l'adresse de la page WhatTheFont sur laquelle vous vous trouvez.
<br />
<input type="text" id="url_police" value=""/>&nbsp;
<button onclick="remplacer_caracteres_whatthefont()">OK</button>

<div id="nom_police">
</div>
<a href="javascript:void(0)" onclick="charger_helper('whatthefont_5_myfonts','helper_whatthefont','Texte')">
	Terminer
</a>