<br />
<br />
Choisissez dans la liste ci-dessous la police de caract&egrave;res &agrave; utiliser.<br />
<iframe src="http://ducksmanager.net/EdgeCreator/index.php/listerg/index/Police/_/liste" width="100%" height="50px" style="border:0"></iframe>
!TexteTTF!