<br />
<br />
Votre image de texte ne semble pas pouvoir &ecirc;tre g&eacute;n&eacute;r&eacute;e en tant que cha&icirc;ne de caract&egrave;res.
<br />
Vous pouvez n&eacute;anmoins int&eacute;grer tout de m&ecirc;me ce texte sur votre tranche, en <a href="javascript:void(0)" onclick="charger_helper('image_1','helper_image','Image')">l'ajoutant en tant qu'image</a>.