<br /><br />
Si vous constatez que les polices de caract&egrave;re ne ressemblent pas du tout &agrave; votre texte, c'est peut-&ecirc;tre parce que votre image n'est pas assez contrast&eacute;e ou de mauvaise qualit&eacute;.
<br />
<a href="javascript:void(0)" onclick="charger_helper('whatthefont_3_to_image','helper_whatthefont','Texte')">Mon image semble de bonne qualit&eacute; et bien contrast&eacute;e</a><br />
<br />
<ul>
    <li>Si votre image n'est pas assez contrast&eacute;e, ne vous d&eacute;couragez pas et <a href="javascript:void(0)" onclick="charger_helper('whatthefont_1','helper_whatthefont')">recommencez ce tutorial</a> apr&egrave;s avoir contrast&eacute; davantage votre photo.</li>
    <li>Si votre image n'est pas d'assez bonne qualit&eacute;, faites une nouvelle photo, &eacute;ventuellement en ne prenant en photo que le texte que vous voulez reproduire, puis <a href="javascript:void(0)" onclick="charger_helper('whatthefont_1','helper_whatthefont')">recommencez ce tutorial</a></li>
</ul>