<br />
<br />
Nous allons maintenant d&eacute;terminer quelle police de caract&egrave;res correspond au texte de l'image.
<br />
Cliquez sur le lien suivant : <a href="http://new.myfonts.com/WhatTheFont/" target="_blank">What The Font</a>
<br />
Cliquez sur le bouton &agrave; droite du texte "Upload a file", s&eacute;lectionnez l'image que vous venez de cr&eacute;er, puis cliquez sur "Continue".
<br />
Dans la page qui s'affiche ensuite, indiquez les lettres correspondant aux images affich&eacute;es, puis cliquez sur "Continue".
<br />
<img alt="" style="width:100%" src="http://imageshack.us/m/849/7843/whatthefont2.png" />
<br />
...